<h1>New message</h1>

<form method="POST" action="/new">

   <label for="username">Your name:</label>
    <input type="text" id="username" name="username" required />

    <label for="message">Message:</label>
    <textarea id="message" name="message" required></textarea>
    
    <button type="submit">Submit</button>

</form>