<%- include('navBar') %>

<h2>Message Details</h2>

<div class="message">
  <h3><%= message.text %></h3>
  <p>From: <%= message.username %></p>
  <small>Posted on <%= message.added.toDateString() %>.</small>
</div>

<a href="/">Back to all messages</a>
